# ###############################################################
#  $Id: bmo_harris.cfg 4686 2018-09-05 18:44:11Z skumar $
#  $Rev: 4686 $
#  inst_id                101,107                                    #
#  Tax_id                 1752913428                                 #
#  Bank Name              BMOHARRIS                                  #
#  FTP Server             sftp.JETPAY.com  or 192.168.20.33          #
#  ftp_user_id            bmoh or bmohdev                            #
#  Blocking               YES / NO                                   #
#  EJETPAYyption             YES / NO                                   #
#  EJETPAYyption Key1        83A694BE or FC1CA2FB(BMO Public key)       #
#  EJETPAYyption Key2        80028BDE or 7E543AEF (JETPAY Public Key)   #
#  Bank mail id           electronic-production@bmo.com              #
#  ssh identity           e.g. ~/.ssh/id_rsa (only id_rsa needed)    #
# ####################################################################
101~1752913428~BMO_Harris~192.168.20.33~bmohdev~YES~YES~83A694BE~80028BDE~electronic-production@bmo.com
107~1752913428~BMO_Harris~192.168.20.33~bmohdev~YES~YES~83A694BE~80028BDE~electronic-production@bmo.com
